<!--
  Include stylesheet specific to the assignment
-->
<link rel="stylesheet" href="css/assignment.css">

<div class="container">
    <fieldset ng-if="!SignUpCtrl.completed">
        <legend id="signup-legend" class="text-center">Signing up for the newsletter</legend>
        <form name='regForm' novalidate>

          <!-- First Name  -->
           <div class="form-group row">
             <label for="nameInput" class="col-2 col-form-label">Name</label>
             <div class="col-10">

             <input class="form-control" id="nameInput" type="text" name="name" placeholder="First name" ng-model="SignUpCtrl.user.name" required minlength="1">
             <span ng-if="(regForm.name.$error.minlength || regForm.name.$error.required) && regForm.name.$touched">
               No name detected.
             </span>
           </div>
           </div>

            <!-- Last Name -->
            <div class="form-group row">
              <label for="lastnameInput" class="col-2 col-form-label">Last name</label>
              <input class="form-control" id="lastnameInput" type="text" name="fullname" placeholder="Last name" ng-model="SignUpCtrl.user.fullname" required minlength="1">
              <span ng-if="(regForm.fullname.$error.minlength || regForm.fullname.$error.required) && regForm.fullname.$touched">
                  No Last name detected.
              </span>
          </div>

          <!-- Email -->
          <div class="form-group row">
            <label for="email" class="col-2 col-form-label">Email</label>
            <input class="form-control" id="email" type="email" name="email" placeholder="Email" ng-model="SignUpCtrl.user.email" required>
            <span ng-if="regForm.email.$invalid && regForm.email.$touched">
                Must be a valid email address: handle@domain format
            </span>
          </div>

          <!-- Phone -->
          <div class="form-group row">
            <label for="phone" class="col-2 col-form-label">Phone</label>
            <input class="form-control" id="phone" type="text" name="phone" placeholder="Phone ###-###-####" ng-model="SignUpCtrl.user.phone" pattern="(\d{3})-(\d{3})-(\d{4})">
            <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
                Phone must be in the format ###-###-####.
            </span>
          </div>

          <!-- Menu Favorite Dish -->
          <div class="form-group row">
            <label for="menuFavDish" class="col-2 col-form-label">Menu Favorite Dish</label>
            <input favoritedish class="form-control"
                   id="menuFavDish" type="text" name="menuFavDish"
                   placeholder="Menu Favorite Dish"
                   ng-model-options="{ updateOn: 'blur' }"
                   ng-model="SignUpCtrl.user.dish"
                   required>
            <span ng-show="regForm.menuFavDish.$pending.dish">Checking if this dish is available...</span>
            <span ng-show="regForm.menuFavDish.$error.dish">Please enter a dish from the menu items.</span>
          </div>

          <!-- Button Submit -->
          <button class="btn btn-primary row" ng-disabled="regForm.$invalid" ng-click="SignUpCtrl.submit()">Submit</button>
        </form>
    </fieldset>

    <!-- Info de validation du formulaire  -->
    <div id="info" class="alert alert-success fade in" ng-if="SignUpCtrl.completed">
      Your information has been saved
    </div>
</div>
